/*
 Font Name: IBM Plex Thai
 Weights: 300, 400, 500, 700
*/
@font-face {
  font-family: "ibm-plex-thai";
  src: url("ibmplexthai-light.woff2") format("woff2"),
    url("ibmplexthai-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ibm-plex-thai";
  src: url("ibmplexthai-regular.woff2") format("woff2"),
    url("ibmplexthai-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ibm-plex-thai";
  src: url("ibmplexthai-medium.woff2") format("woff2"),
    url("ibmplexthai-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ibm-plex-thai";
  src: url("ibmplexthai-bold.woff2") format("woff2"),
    url("ibmplexthai-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
