/*
 Font Name: Chulabhorn Likit Text
 Weights: 300, 400, 500, 700
*/

@font-face {
  font-family: "chulabhornlikit-text";
  src: url("chulabhornlikittext-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "chulabhornlikit-text";
  src: url("chulabhornlikittext-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "chulabhornlikit-text";
  src: url("chulabhornlikittext-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "chulabhornlikit-text";
  src: url("chulabhornlikittext-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
