/*
 Font Name: Athiti
 Weights: 500, 600
*/

@font-face {
    font-family: 'athiti';
    src: url('athiti-medium-webfont.woff2') format('woff2'),
         url('athiti-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'athiti';
    src: url('athiti-semibold-webfont.woff2') format('woff2'),
         url('athiti-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
