/*
Font Name: Anakotmai
Weights: 300, 500, 700
*/
@font-face {
  font-family: "Anakotmai";
  src: url("anakotmai-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Anakotmai";
  src: url("anakotmai-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Anakotmai";
  src: url("anakotmai-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
