/*
 Font Name: Prompt
 Weights: 400, 500, 600
*/

@font-face {
    font-family: 'prompt';
    src: url('prompt-regular-webfont.eot');
    src: url('prompt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('prompt-regular-webfont.woff2') format('woff2'),
         url('prompt-regular-webfont.woff') format('woff'),
         url('prompt-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'prompt';
    src: url('prompt-medium-webfont.eot');
    src: url('prompt-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('prompt-medium-webfont.woff2') format('woff2'),
         url('prompt-medium-webfont.woff') format('woff'),
         url('prompt-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'prompt';
    src: url('prompt-semibold-webfont.eot');
    src: url('prompt-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('prompt-semibold-webfont.woff2') format('woff2'),
         url('prompt-semibold-webfont.woff') format('woff'),
         url('prompt-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
