/*
 Font Name: Cloud
 Weights: 300, 700
*/

@font-face {
  font-family: "cloud";
  src: url("cloud-bold-webfont.eot");
  src: url("cloud-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("cloud-bold-webfont.woff2") format("woff2"),
    url("cloud-bold-webfont.woff") format("woff"),
    url("cloud-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cloud";
  src: url("cloud-light-webfont.eot");
  src: url("cloud-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("cloud-light-webfont.woff2") format("woff2"),
    url("cloud-light-webfont.woff") format("woff"),
    url("cloud-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
