/*
 Font Name: Cloud
 Weights: 300, 700
*/

@font-face {
  font-family: "cloud";
  src: url("cloud-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cloud";
  src: url("cloud-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
