/*
 Font Name: Chulabhorn Likit Display
 Weights: 500
*/

@font-face {
  font-family: "chulabhornlikit-display";
  src: url("chulabhornlikitdisplay-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
