@font-face {
    font-family: 'thaisans_neue';
    src: url('thaisansneue-black-webfont.eot');
    src: url('thaisansneue-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisansneue-black-webfont.woff2') format('woff2'),
         url('thaisansneue-black-webfont.woff') format('woff'),
         url('thaisansneue-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue';
    src: url('thaisansneue-bold-webfont.eot');
    src: url('thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisansneue-bold-webfont.woff2') format('woff2'),
         url('thaisansneue-bold-webfont.woff') format('woff'),
         url('thaisansneue-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue';
    src: url('thaisansneue-extrabold-webfont.eot');
    src: url('thaisansneue-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisansneue-extrabold-webfont.woff2') format('woff2'),
         url('thaisansneue-extrabold-webfont.woff') format('woff'),
         url('thaisansneue-extrabold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue';
    src: url('thaisansneue-extralight-webfont.eot');
    src: url('thaisansneue-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisansneue-extralight-webfont.woff2') format('woff2'),
         url('thaisansneue-extralight-webfont.woff') format('woff'),
         url('thaisansneue-extralight-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue';
    src: url('thaisansneue-light-webfont.eot');
    src: url('thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisansneue-light-webfont.woff2') format('woff2'),
         url('thaisansneue-light-webfont.woff') format('woff'),
         url('thaisansneue-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue';
    src: url('thaisansneue-regular-webfont.eot');
    src: url('thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisansneue-regular-webfont.woff2') format('woff2'),
         url('thaisansneue-regular-webfont.woff') format('woff'),
         url('thaisansneue-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'thaisans_neue';
    src: url('thaisansneue-semibold-webfont.eot');
    src: url('thaisansneue-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisansneue-semibold-webfont.woff2') format('woff2'),
         url('thaisansneue-semibold-webfont.woff') format('woff'),
         url('thaisansneue-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue';
    src: url('thaisansneue-ultralight-webfont.eot');
    src: url('thaisansneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('thaisansneue-ultralight-webfont.woff2') format('woff2'),
         url('thaisansneue-ultralight-webfont.woff') format('woff'),
         url('thaisansneue-ultralight-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}